body{
    background-color: cadetblue;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: pink;
}
.container{
    border: 10px inset red;
}
.row{
    border: 10px inset blue;
}
.cal{
    border: 10px inset yellow;
}
